<!-- worker-profile.component.html -->
<div *ngIf="worker" class="profile-container">
  <div class="profile-header">
    <h2>{{ worker.uposlenik_ime }} {{ worker.uposlenik_prezime }}</h2>
  </div>
  <div class="profile-details">
    <div class="detail">
      <strong>JMBG:</strong> {{ worker.uposlenik_jmbg }}
    </div>
    <div class="detail">
      <strong>Broj lične karte:</strong> {{ worker.uposlenik_broj_licneK }}
    </div>
    <div class="detail">
      <strong>Kontakt:</strong> {{ worker.uposlenik_kontakt }}
    </div>
    <!-- Add more details as needed -->
  </div>
</div>
